@page
@model WebApp.Pages.Samples.ReadJSONModel
@using OOPsReview;
@{
    ViewData["Title"] = "Reading JSON File";
}
<h1>Reading a Json file</h1>


@if (!string.IsNullOrWhiteSpace(Model.FeedBack))
{
    <blockquote style="background-color:aqua">
        @Model.FeedBack
    </blockquote>
}

@if (!string.IsNullOrWhiteSpace(Model.ErrorMsg))
{
    <blockquote style="background-color:lightpink; color:firebrick">
        @Model.ErrorMsg
    </blockquote>
}

<form method="post">
    <label>
        Find file:
        <input type="file" asp-for="fileName" />
        <br/><br/>
        <button type="submit" asp-page-handler="Read">Read</button>
    </label>
</form>

<!-- sample of table creation on web page-->
@if(Model.employee != null)
{
    <table>
        <thead>
            @*
                this area is use for column headers
            *@
            <tr>
                <th>Title</th>
                <th>Level</th>
                <th>YIP</th>
                <th> Start Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.employee.EmploymentPositions)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Level</td>
                    <td>@item.Years</td>
                    <td>@item.StartDate.ToString("MMM dd, yyyy")</td>
                </tr>
            }
        </tbody>
       @* <tfoot>
           there  is not footer in this example
        </tfoot>*@
    </table>
}